html{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

h1{
    text-align: center;
    font-weight: 300;
    color: grey;
}

main ul li{
    margin-bottom: 2%;
}

main{
    display: flex;
    flex-direction: column;
}

/* Formulaire */

.formulaire{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto 40px auto;

}

main form{
    width: 400px;
    margin: 0 40px 0 40px;
}

.formulaire label{
    text-align: center;
}

.formulaire input{
    width: 70%;
    height: 4vh;
    font-size: 90%;
    margin: 2% 13% 2% 13%;
    text-align: center;
}

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
}

legend {
    color:#3A3ADE;
    font-weight:bold
}
label {
    margin-top:10px;
    display:block;
}
input, textarea, select, option {
    background-color:rgb(245, 245, 255);
}
input, textarea, select {
    padding:3px;
    border:1px solid rgba(79, 79, 219, 0.541);
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px rgb(192, 192, 192) inset;
}

.small_bouton_bleu{
    margin: 2% 0 2% 25%;
}

.small_bouton_bleu a{
    width: 160px;
    font-size: 17px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    text-align: center;
}
@media (max-width: 720px){
  fieldset{width: 200px;}
  .formulaire{
    width: 295px;
  }
}
